In [2]:
name = 'ahmed'
age = 26
print("my name is {} and my age is {}".format(name,age))

my name is ahmed and my age is 26

In [3]:
name = 'ahmed'
age = 26
print(f"my name is {name} and my age is {age}")

my name is ahmed and my age is 26

In [4]:
print("welcome to \"egypt\"")

welcome to "egypt"

In [25]:
a = 11
b = 2
c= a%b 
c

1

In [38]:
    G = float(input("please enter the value of G = "))
    G = G*(10**-11)
    print("G =  ",G)
    M_earth = float(input("please enter the value of M_earth = "))
    M_earth = M_earth*(10**24)
    print("M_earth =  ",M_earth)
    m_moon = float(input("please enter the value of m_moon = "))
    m_moon = m_moon*(10**22)
    print("m_moon =  ", m_moon)
    r = float(input("please enter the value of r = "))
    r=r*(10**8)
    print("r =  ",r)
    F_G = (G * M_earth * m_moon)/r**2
    print ( "the value of F_G = ",F_G)

please enter the value of G = 6.67
G =   6.67e-11
please enter the value of M_earth = 6
M_earth =   6e+24
please enter the value of m_moon = 7.34
m_moon =   7.34e+22
please enter the value of r = 3.84
r =   384000000.0
the value of F_G =  1.9920979817708333e+20

In [43]:
x=[2,3,5]
y=type(x)
print("y is ",y)
len(x)

y is  <class 'list'>

3

In [73]:
x1=[3,3,2,1]
x2=[6,8,3]
#x1.append(12)
#x1.insert(2,10)
#x1.remove(3)
#x1.pop(2)
#x1.clear()
x1.extend(x2)
x1

[3, 3, 2, 1, 6, 8, 3]

In [95]:
z=(2,3,4,2)

z=list(z)
z.append(5)
z=tuple(z)
#type(z)
#z.index(4)
#z*2
z.count(2)
z_new = z*3
z_new

(2, 3, 4, 2, 5, 2, 3, 4, 2, 5, 2, 3, 4, 2, 5)

In [96]:
set(z_new)

{2, 3, 4, 5}

In [123]:
x1=[1,5,5,3,6,4,4,5,6] 
x2=[1,0,2,5,5,5,0,2,8]
x1=set(x1)
x2=set(x2)
print(f"x1={x1},x2={x2}")
print("            ")
x1.add(12)
x2.add(15)
print(f"x1={x1},x2={x2}")
print("           ")
x1.update([1,2,3,4,5,6,7,8,9])
x2.update([1,2,3,4,5,6,7,8,9])
print(f"x1={x1},x2={x2}")
print("           ")
x1.remove(12)
x2.remove(15)
print(f"x1={x1},x2={x2}")
print("           ")
x3=x1.union(x2)
print(f"x1={x1},x2={x2},x3={x3}")
print("           ")
x4=x1.intersection(x2)
print(f"x1={x1},x2={x2},x3={x3},x4={x4}")
print("           ")

x1={1, 3, 4, 5, 6},x2={0, 1, 2, 5, 8}

x1={1, 3, 4, 5, 6, 12},x2={0, 1, 2, 5, 8, 15}

x1={1, 2, 3, 4, 5, 6, 7, 8, 9, 12},x2={0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15}

x1={1, 2, 3, 4, 5, 6, 7, 8, 9},x2={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

x1={1, 2, 3, 4, 5, 6, 7, 8, 9},x2={0, 1, 2, 3, 4, 5, 6, 7, 8, 9},x3={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

x1={1, 2, 3, 4, 5, 6, 7, 8, 9},x2={0, 1, 2, 3, 4, 5, 6, 7, 8, 9},x3={0, 1, 2, 3, 4, 5, 6, 7, 8, 9},x4={1, 2, 3, 4, 5, 6, 7, 8, 9}

In [124]:
x=dict()
x={}
type(x)

dict

In [126]:
x={"key1":"value1","key2":"value2"}
x

{'key1': 'value1', 'key2': 'value2'}

In [143]:
x.get("key1")
x.keys()
x.values()
x.items()
x.update(x={"key3":"value3"})
x

{'key1': 'value1', 'key2': 'value2', 'x': {'key3': 'value3'}}

In [155]:
y= (input("please enter numbers separated by comma :"))
y_list = y.split(",")
print ("y_list = ",y_list)
y_tuple = tuple(y_list)
print("y_tuple = ",y_tuple)
y_set = set(y_list)
print("y_set = ",y_set)

please enter numbers separated by comma :1,1,2,2,3,3
y_list =  ['1', '1', '2', '2', '3', '3']
y_tuple =  ('1', '1', '2', '2', '3', '3')
y_set =  {'1', '2', '3'}

In [160]:
a=1000
b=1000
if a>b :
    print("a is greater than b")
elif a==b :
    print("a is equal b")
else :
    print("b is grater than a")

a is equal b